version: '3.8'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "3001:3001"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    environment:
      - REACT_APP_CALCULATOR_REST_API_V1_URL=http://backend:3001/v1
    depends_on:
      - backend
    restart: unless-stopped
